/****************MISION 2***********************/
#mision2{
	position: absolute;
	top: 0px;
	left: 0px;
}
#carro1-m2,#carro2-m2,#carro3-m2,#carro4-m2{
	position: absolute;
	width: 49px;
	height: 49px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
    box-sizing: border-box;
    border: #000 solid 1px;
}
#carro1-m2{background-image: url(../images/peaton/mision2/carro1.png);}
#carro2-m2{background-image: url(../images/peaton/mision2/carro2.png);}
#carro3-m2{background-image: url(../images/peaton/mision2/carro3.png);}
#carro4-m2{background-image: url(../images/peaton/mision2/carro4.png);}

.carro-m2-chocado{
    animation-name: animacion-carro-chocado-2;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-carro-chocado-2;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
}
@keyframes animacion-carro-chocado-2{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

#punto-mision-2{
	left: 116px;
	top: 491px;
}
#luz-mision-2{
    top: 485px;
    left: 101px;
}
#flecha-mision-2{
	top: 480px;
    left: 74px;
        
	transform-origin: 100% center;
	-webkit-transform-origin: 100% center;
	-o-transform-origin: 100% center;

	animation-name: flecha-animacion;
	-webkit-animation-name: flecha-animacion;
}
#zebra-mision-2{
    position: absolute;
    width: 130px;
    height: 42px;
    left: 180px;
    top: 394px;
    background-color:rgba(0,0,255,0.5);
}

.avatar-dead-2 #avatar-clip{
    visibility: hidden;
}
.avatar-dead-2 #avatar-atropeyado{
    visibility: inherit !important;
    animation-name: animacion-atropeya-2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-name: animacion-atropeya-2;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
@keyframes animacion-atropeya-2{
    0%{
        top: 0px;
        left: 0px;
        transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
    }
    60%{
        top: -11px;
        left: 11px;
        transform: scale(1.8);
		-webkit-transform: scale(1.8);
		-o-transform: scale(1.8);
    }
    80%{
        top: -15px;
        left: 15px;
        transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
    }
    95%{
        top: -18px;
        left: 18px;
        transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-o-transform: scale(1.2);
    }
    100%{
        top: -20px;
        left: 20px;
        transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
    }
}